name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-action-local:
    name: GitHub Actions Test (local)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test Local Action
        id: test-action-local
        uses: ./action.local
        with:
          run: |
            comtrya --version
            just --version
            task --version
            trufflehog --version
            trivy --version
            feluda --version
            uv --version
            mise --version
            kcl --version
            rcl --version
            b3sum --version
            bash --version
            venom version
            typst --version
            treefmt --version
            dprint --version
            pipelight --version
            minijinja --version
            rsign --version
            cosign version
            cargo-binstall -V
            cargo-deny --version
            cargo-audit --version
            ls /usr/local/bin/cargo-auditable
            ls /usr/local/bin/cargo-license

  test-action-remote:
    name: GitHub Actions Test (Docker Hub)
    runs-on: ubuntu-latest

    steps:
      - name: Test action
        id: test-action-remote
        uses: yonasBSD/toolkit@main
        with:
          run: |
            comtrya --version
            just --version
            task --version
            trufflehog --version
            trivy --version
            feluda --version
            uv --version
            mise --version
            kcl --version
            rcl --version
            b3sum --version
            bash --version
            venom version
            typst --version
            treefmt --version
            dprint --version
            pipelight --version
            minijinja --version
            rsign --version
            cosign version
            cargo-binstall -V
            cargo-deny --version
            cargo-audit --version
            ls /usr/local/bin/cargo-auditable
            ls /usr/local/bin/cargo-license
